@value borderColor from '../../common/colors.css';

.writeRivewContainer {
  text-align: start;
  max-width: 1200px;
}

.writeRivewContainer input {
  margin: 0;
  border-radius: 3px;
  width: 100%;
}

.writeRivewContainer p {
  margin-bottom: 0.5em;
}

.inputBox {
  margin: 2.5em 0em 2.5em 0em;
}

@media screen and (max-width: 450px) {
  .writeRivewContainer {
    width: 350px;
  }

  .writeRivewContainer textarea {
    width: 330px;
    margin-left: 0.1em;
  }
}
