@value blandColor from '../../../common/colors.css';

.button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #cb997e;
  outline: none;
  border: 0;
  border-radius: 2px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  opacity: 90%;
}
